<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Go Web 编程之 模板（二）</title>
</head>
<body>
	<div>This is in template include1.html</div>
	<p>The value of dot is {{ . }}</p>
	<hr/>
	<p>Don't pass argument to include2.html:</p>
	{{ template "include2.html" }}
	<hr/>
	<p>Pass dot to include2.html</p>
	{{ template "include2.html" . }}
	<hr/>
</body>
</html>